.blog-component {
  
  .blog-content {
    text-align: center;
    margin: 5vh auto;
    padding: 10px;
  }

  h1 {
    font-family: 'Courier New', Courier, monospace;
  }
  .blog-content {
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 2;
    text-align: justify;
  }

  img {
    margin: auto;
    height: 300px;
  }

  hr {
    margin-top: 10vh;
  }
}
