.blog-component {
  text-align: center;
  margin: 5vh auto;
  >h1 {
    font-family: 'Courier New', Courier, monospace;
  }
  > p {
    font-family: 'Montserrat-Medium';
    font-size: 22px;
    line-height: 2;
    text-align: justify;
  }

  > .image {
    margin: auto;
    height: 300px;
  }

  > hr {
    margin-top: 10vh;
  }


}