.blog-component {
  .blog-content {
    text-align: center;
    margin: 5vh auto;
    padding: 10px;
  }

  .blog-content {
    font-size: 1.2rem;
    line-height: 2;
    text-align: justify;
  }

  img {
    margin: auto;
    height: 400px;
  }

  hr {
    margin-top: 10vh;
  }
}
